.about .about-image img {
    width: 100%;
    max-width: 1600px;
}

.about .mission {
    padding: 3rem 15rem 3rem 15rem;
    text-align: left;
    margin-top: 3rem;
}

.about .mission p {
    justify-content: center;
    margin-top: 3rem;
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 3rem 1rem;
}

.about .about-post img {
    width: 100%;
    max-width: 600px;
}

.about .about-post-one img {
    width: 100%;
    max-width: 600px;
}

.about .about-post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    border-top: 1px solid salmon;
    padding: 4rem 0 0 0;
}

.about .about-post-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid salmon;
    padding: 4rem 0 0 0;
}

.about .about-post .right h2 {
    margin: 1.2rem;
    color: var(--primary);
}

.about .about-post .right p {
    margin: 1.2rem;
}

.about .about-post-one .left h2 {
    margin: 1.2rem;
    color: var(--primary);
}

.about .about-post-one .left p {
    margin: 1.2rem;
}

@media screen and (max-width: 940px) {
    .about .container {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    .about .about-image {
        margin-top: 3.5rem;
    }

    @media  screen and (max-width: 478px) {
        .about .container .about-post {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 5.2rem;
            text-align: justify;
        }
        .about .container .about-post p {
            font-size: 0.8rem;
        }
        .about .container .about-post-one {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 5.2rem;
            text-align: justify;
        }
        .about .container .about-post-one p {
            font-size: 0.8rem;
        }

        .about .mission {
            padding: 0.1rem 0.8rem 0.8rem 0.8rem;
            margin-top: 3.5rem;
            text-align: justify;
        }
        .about .mission p {
            font-size: 0.8rem;
        }
    }
    
}