.blog .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 3rem 1rem;
}
.blog h1 {
    margin-top: 5rem;
    color: var(--primary);
    text-decoration: underline;
}
.blog h2 {
    margin: 1.2rem;
    color: var(--primary);
}

.blog p {
    margin: 1rem;
}
.blog .container img {
    width: 100%;
    max-width: 600px;
}
.blog .container .blog-post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
}

.blog .container .blog-post-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid salmon;
    padding: 4rem 0 0 0;
}
.blog .container .blog-post-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid salmon;
    padding: 4rem 0 0 0;
}
.blog .container .blog-post-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid salmon;
    padding: 4rem 0 0 0;
}

@media screen and (max-width: 940px) {
    .blog .container {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    .blog .blog-image {
        margin-top: 3.5rem;
    }

    @media  screen and (max-width: 478px) {
        .blog p {
            font-size: 0.8rem;
        }
        .blog h1 {
            font-size: 1rem;
        }
        .blog .container .blog-post {
            display: grid;
            grid-template-columns: 1fr;
            text-align: justify;
        }
        .blog .container .blog-post-one {
            display: grid;
            grid-template-columns: 1fr;
            text-align: justify;
        }
        .blog .container .blog-post-two {
            display: grid;
            grid-template-columns: 1fr;
            text-align: justify;
        }
        .blog .container .blog-post-three {
            display: grid;
            grid-template-columns: 1fr;
            text-align: justify;
        }
    }
    
}