.header {
    width: 100vw;
    height: 90px;
    border-bottom: wheat;
    background: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
}
.header .container h1 {
    cursor: pointer;
}
.header .container .span-nav{
    color: tomato;
}

.nav-menu {
    display: flex;
    width: 250px;
}
.nav-menu.active {
    width: 250px;
}
.header .container .btn-group {
    margin-left: 1rem;
    font-size: 10px;
}
.btn-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu li {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.nav-menu li:hover {
    cursor: pointer;
    color: tomato;
    text-decoration-color: tomato;
    transition: 0.5s;
}
.btn-nav-parent {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

@media screen and (max-width:948px) {
    .hamburger {
        display: flex;
    }
    .btn-nav-parent {
        display: flex;
        justify-content: space-evenly;
    }
    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        top: 90px;
        right: -100%;
        width: 250px;
        height: auto;
        transition: 0.5s;
        z-index: 2;
        background: whitesmoke;
    }

    .nav-menu.active {
        right: 0;
        height: auto;
        width: 250px;
    }

    .nav-menu li {
        padding: 1rem;
        width: 100%;
        border-bottom: 1px solid  rgb(209, 209, 209)
    }

    .nav-menu a {
        font-size: 1.1rem;
    }

    @media  screen and (max-width: 478px) {
        h1 {
            font-size: 20px;
        }
        .btn-group {
            display: none;
        }

        .container .btn {
            font-size: 10px;
        }

        .hamburger {
            display: flex;
            margin-left: 10px;
            height: auto;
            border: none;
        }

        .header .container .btn-group {
            margin-left: 1rem;
            font-size: 10px;
        }
    }

    @media  screen and (max-width: 400px) {
        h1 {
            font-size: 18px;
        }
        .btn-group {
            display: none;
        }


        .container .btn {
            font-size: 8px;
        }

        .hamburger {
            display: flex;
            margin-left: 8px;
        }

        .header .container .btn-group {
            margin-left: 0.6rem;
            font-size: 8px;
        }
    }
}